name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]
    paths:
      - 'backend/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Push to Hugging Face
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git push https://machichiotte:$HF_TOKEN@huggingface.co/spaces/machichiotte/kognit-service `git subtree split --prefix backend main`:main --force
